nav{
 position: fixed; 
 right:5%;
 bottom:5%;  

}

nav ._btn{
    position: absolute;
    width:85px;
    height:85px;
    background-color: aqua;
    text-align: center;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    transform: translateY(0%);
    z-index:-1;
    opacity:0;
    /* pointer-events: none; */
    background: #000;
    color:#fff;
    z-index: -3;
}

nav.active ._btn{
    transform: translateY(-100%);
    opacity:1;
    cursor: pointer;
    z-index: 1;

    
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.active .rotate {
    animation: rotateAnimation 2s infinite linear;
}
